<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.nicolls.ablum">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application android:allowBackup="true" android:label="@string/app_name"
        android:supportsRtl="true" android:theme="@style/Theme.AppCompat.Light.NoActionBar">

        <activity
            android:name="com.nicolls.ablum.activity.HomeFragmentActivity"
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="com.nicolls.ablum.activity.BucketHomeFragmentActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="portrait" >
        </activity>

    </application>

</manifest>
